<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jastz.post.mapper.PostMapper">
    <resultMap id="BaseResultMap" type="cn.jastz.post.entity.Post">
        <id column="id" property="id"/>
        <result column="app_id" property="appId" jdbcType="VARCHAR"/>
        <result column="post_author" property="postAuthor" jdbcType="INTEGER"/>
        <result column="post_title" property="postTitle" jdbcType="VARCHAR"/>
        <result column="post_description" property="postDescription" jdbcType="VARCHAR"/>
        <result column="post_content" property="postContent" jdbcType="VARCHAR"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <delete id="deleteByPrimaryKey">
    delete from post
    where id = #{id}
  </delete>
    <insert id="insert" parameterType="cn.jastz.post.entity.Post">
    insert into post ( app_id, post_author,
      post_title, post_description, post_content, created_time,
      updated_time)
    values ( #{appId,jdbcType=VARCHAR}, #{postAuthor,jdbcType=INTEGER},
      #{postTitle,jdbcType=VARCHAR},#{postDescription,jdbcType=VARCHAR}, #{postContent,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP},
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
    <update id="updateByPrimaryKey" parameterType="cn.jastz.post.entity.Post">
    update post
    set app_id = #{appId,jdbcType=VARCHAR},
      post_author = #{postAuthor,jdbcType=INTEGER},
      post_title = #{postTitle,jdbcType=VARCHAR},
      post_description = #{postDescription,jdbcType=VARCHAR},
      post_content = #{postContent,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id}
  </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, app_id, post_author, post_title, post_description, post_content, created_time, updated_time
    from post
    where id = #{id}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, app_id, post_author, post_title, post_description, post_content, created_time, updated_time
    from post
  </select>
    <select id="queryPageByAppId" resultMap="BaseResultMap">
    select id, app_id, post_author, post_title, post_description, post_content, created_time, updated_time
    from post
    where app_id = #{appId}
    order by created_time desc
  </select>
    <select id="selectAllByYear" resultType="cn.jastz.post.entity.Post">
      select id, app_id, post_author, post_title, post_description, post_content, created_time, updated_time
    from post
    where app_id = #{appId} and year(created_time)=#{year}
  </select>
    <select id="selectYears" resultType="int">
    SELECT
      YEAR(created_time) AS `year`
    FROM
      post
    WHERE app_id = #{appId}
    GROUP BY `year`
    ORDER BY `year` DESC
  </select>
</mapper>
