<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jastz.account.mapper.AccountPasswordMapper" >
  <resultMap id="BaseResultMap" type="cn.jastz.account.entity.AccountPassword" >
    <id column="account_id" property="accountId" jdbcType="INTEGER" />
    <result column="account_password" property="accountPassword" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from account_password
    where account_id = #{accountId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.jastz.account.entity.AccountPassword" >
    insert into account_password (account_id, account_password, created_time, 
      updated_time)
    values (#{accountId,jdbcType=INTEGER}, #{accountPassword,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.jastz.account.entity.AccountPassword" >
    update account_password
    set account_password = #{accountPassword,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where account_id = #{accountId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select account_id, account_password, created_time, updated_time
    from account_password
    where account_id = #{accountId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select account_id, account_password, created_time, updated_time
    from account_password
  </select>
</mapper>