<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jastz.product.mapper.SkuAttrRefMapper" >
  <resultMap id="BaseResultMap" type="cn.jastz.product.entity.SkuAttrRef" >
    <id column="ref_id" property="refId" jdbcType="INTEGER" />
    <result column="sku_id" property="skuId" jdbcType="INTEGER" />
    <result column="sku_attr_id" property="skuAttrId" jdbcType="INTEGER" />
    <result column="app_id" property="appId" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sku_attr_ref
    where ref_id = #{refId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.jastz.product.entity.SkuAttrRef" >
    insert into sku_attr_ref (ref_id, sku_id, sku_attr_id, 
      app_id, created_time, updated_time
      )
    values (#{refId,jdbcType=INTEGER}, #{skuId,jdbcType=INTEGER}, #{skuAttrId,jdbcType=INTEGER}, 
      #{appId,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.jastz.product.entity.SkuAttrRef" >
    update sku_attr_ref
    set sku_id = #{skuId,jdbcType=INTEGER},
      sku_attr_id = #{skuAttrId,jdbcType=INTEGER},
      app_id = #{appId,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where ref_id = #{refId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select ref_id, sku_id, sku_attr_id, app_id, created_time, updated_time
    from sku_attr_ref
    where ref_id = #{refId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ref_id, sku_id, sku_attr_id, app_id, created_time, updated_time
    from sku_attr_ref
  </select>
</mapper>