<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jastz.payment.mapper.PaymentOrderMapper">
    <resultMap id="BaseResultMap" type="cn.jastz.payment.entity.PaymentOrder">
        <id column="order_id" property="orderId" jdbcType="INTEGER"/>
        <result column="order_no" property="orderNo" jdbcType="VARCHAR"/>
        <result column="total_amount" property="totalAmount" jdbcType="DECIMAL"/>
        <result column="pay_amount" property="payAmount" jdbcType="DECIMAL"/>
        <result column="order_status" property="orderStatus" jdbcType="CHAR"/>
        <result column="payment_type" property="paymentType" jdbcType="CHAR"/>
        <result column="account_id" property="accountId" jdbcType="INTEGER"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from payment_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="cn.jastz.payment.entity.PaymentOrder" useGeneratedKeys="true"
            keyProperty="orderId" keyColumn="order_id">
    insert into payment_order (order_id, order_no, total_amount, 
      pay_amount, order_status, payment_type, 
      account_id, updated_time
      )
    values (#{orderId,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, #{totalAmount,jdbcType=DECIMAL}, 
      #{payAmount,jdbcType=DECIMAL}, #{orderStatus,jdbcType=CHAR}, #{paymentType,jdbcType=CHAR}, 
      #{accountId,jdbcType=INTEGER}, #{updatedTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <update id="updateByPrimaryKey" parameterType="cn.jastz.payment.entity.PaymentOrder">
    update payment_order
    set order_no = #{orderNo,jdbcType=VARCHAR},
      total_amount = #{totalAmount,jdbcType=DECIMAL},
      pay_amount = #{payAmount,jdbcType=DECIMAL},
      order_status = #{orderStatus,jdbcType=CHAR},
      payment_type = #{paymentType,jdbcType=CHAR},
      account_id = #{accountId,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select order_id, order_no, total_amount, pay_amount, order_status, payment_type, 
    account_id, created_time, updated_time
    from payment_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select order_id, order_no, total_amount, pay_amount, order_status, payment_type, 
    account_id, created_time, updated_time
    from payment_order
  </select>
</mapper>